<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Tiago Bonomo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Site Curriculo" />
	<meta name="keywords"
		content="Entusiasta de Tecnologia em geral/flask, Python, bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="Tiago Ferreira Bonomo" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/icomoon.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.css') }}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

	<!-- Modernizr JS -->
	<script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<div class="fh5co-loader"></div>

	<div id="page">
		<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner"
			style="background-image:url(../static/images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t js-fullheight">
							<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
								<div class="profile-thumb" style="background: url(../static/images/user-3.jpg);"></div>
								<h1><span>Tiago Bonomo</span></h1>
								<h3><span>Entusiasta de TI / Amante de jogos
										Digitais</span></h3>
								<p>
								<ul class="fh5co-social-icons">
									<!--<li><a href="https://br.linkedin.com/in/tiago-ferreira-bonomo"><i
												class="icon-linkedin2"></i></a></li>-->
									<li><a href="https://github.com/TiagoBonomo"><i class="icon-git"></i></a></li>
								</ul>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="fh5co-about" class="animate-box">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Sobre Mim</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<ul class="info">
							<li>
								<span class="first-block">Nome:</span>
								<span class="second-block">Tiago Bonomo</span>
							</li>
							<li>
								<span class="first-block">Github:</span>
								<span class="second-block">https://github.com/TiagoBonomo</span>
							</li>
							<!--<li><span class="first-block">Website:</span>
								<span class="second-block"></span>
							</li>-->

						</ul>
					</div>
					<div class="col-md-8">
						<h2>Olá!</h2>
						<p>Formado em Redes de Computadores e Técnico em Informática pelo Centro Estadual de Educação Técnica Vasco Coutinho, atualmente cursando Desenvolvimento Full Stack pela Estácio.
							Vasta experiência na área de suporte técnico mais de 5 anos atuando na área de TI em geral(Help Desk, Field Service, Service Desk).
							Curioso por tecnologias em geral, Buscando novos desafios.</p>
						<br>
						<br>
						<ul class="fh5co-social-icons">
							<li><!--<a href="https://br.linkedin.com/in/tiago-ferreira-bonomo"><i class="icon-linkedin2">--></i></a>
							</li>
							<li><a href="https://github.com/TiagoBonomo"><i class="icon-git"></i></a></li>

						</ul>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-resume" class="fh5co-bg-color">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Resumo</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-md-offset-0">
						<ul class="timeline">
							<li class="timeline-heading text-center animate-box">
								<div>
									<h3>Experiencia Proficional</h3>
								</div>
							</li>

							<li class="timeline-inverted animate-box">
								<div class="timeline-badge"><i class="icon-suitcase"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Técnico em Informática</h3>
										<span class="company">  DEED Soluções em TI | Ago. 2023 - Presente (15 meses)
											Vila Velha, ES</span>
									</div>
									<div class="timeline-body">
										<p>  
											Técnico em manutenção de computadores, Help desk, Service desk, Field service, Cabeamento Estru
											turado, configuração e manutenção de equipamentos de rede, administração de usuários e grupos no 
											active directory.
										    Desenvolvimento de site institucional.
										</p>
									</div>
								</div>
							</li>

							<li class="animate-box timeline-unverted">
								<div class="timeline-badge"><i class="icon-suitcase"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Desenvolvedor Python</h3>
										<span class="company">Freelance - 2020 - 2021</span>
									</div>
									<div class="timeline-body">
										<p>Dessnvolvimento de script em Python para entusiasta de apostas lotéricas na modalidade Lotofácil.
										Scripts se encontram em: <a href="https://github.com/TiagoBonomo/Scripts_python_lotofacil">github.com/TiagoBonomo</a></p>
										
										
									</div>
								</div>
							</li>
							
							<li class="timeline-inverted animate-box">
								<div class="timeline-badge"><i class="icon-suitcase"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Técnico em Informática</h3>
										<span class="company"> Logic Processamento de Dados | Fev. 2019 - Ago. 2019 (7 meses)
											Vitória, ES</span>
									</div>
									<div class="timeline-body">
										<p> Técnico em manutenção de computadores, Help desk, Service desk, Field service, Cabeamento Estru
											turado, venda de equipamentos de informática, configuração e manutenção de equipamentos de rede, 
											administração de usuários e grupos no active directory.</p>
									</div>
								</div>
							</li>
							<li class="animate-box timeline-unverted">
								<div class="timeline-badge"><i class="icon-suitcase"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Aux.Tec.Informática B</h3>
										<span class="company"> CLS Informática | Jan. 2017 - Jun. 2018 (17 meses)
											Vila Velha, ES</span>
									</div>
									<div class="timeline-body">
										<p> Técnico em manutenção de computadores, Help desk, Service desk, Field service, Cabeamento Estru
											turado, venda de equipamentos de informática, configuração e manutenção de equipamentos de rede, 
											administração de usuários e grupos no active directory.</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted animate-box">
								<div class="timeline-badge"><i class="icon-suitcase"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title"> Estagiario em TI</h3>
										<span class="company">  Osm Tecnologia. | Jan. 2015 - Ago. 2015 (7 meses)
											Vitória, ES</span>
									</div>
									<div class="timeline-body">
										<p> Montagem e manutenção de computadores, Desenvolvimento de protótipo SGA Java/Android/Php.</p>
									</div>
								</div>
							</li>


							<br>
							<li class="timeline-heading text-center animate-box">
								<div>
									<h3>Formação Acadêmica</h3>
								</div>
							</li>
							<!--
							<li class="timeline-inverted animate-box">
								<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Masters Degree</h3>
										<span class="company">University Name - 2007 - 2009</span>
									</div>
									<div class="timeline-body">
										<p>Far far away, behind the word mountains, they live in Bookmarksgrove right at
											the coast of the Semantics, a large language ocean.</p>
									</div>
								</div>
							</li>
							-->
							<li class="animate-box timeline-unverted">
								<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title"> Desenvolvimento Full Stack</h3>
										<span class="company"> Estácio | Graduação
											2024 - Presente
											Cariacica, ES</span>
									</div>
									<div class="timeline-body">
										<p>O Desenvolvedor Full Stack é um programador capacitado para projetar, desenvolver, testar e distribuir Websites ou aplicativos.</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted animate-box">
								<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Técnico em Redes de Computadores</h3>
										<span class="company"> Centro Estadual de Educação Técnica Vasco Coutinho | Curso Técnico
											2016 - 2017
											Vila Velha, ES</span>
									</div>
									<div class="timeline-body">
										<p>Capacitado para atuar com a operacionalização de concepção, projeto, desenvolvimento, manutenção, gerência, administração e operação confiável e segura em Redes de Computadores Locais e de Longa Distância e dos serviços por elas oferecidos.</p>
									</div>
								</div>
							</li>
							<li class="animate-box timeline-unverted">
								<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Técnico em Informática</h3>
										<span class="company">Técnico em Informática
											Centro Estadual de Educação Técnica Vasco Coutinho | Curso Técnico
											2014 - 2016
											Vila Velha, ES</span>
									</div>
									<div class="timeline-body">
										<p>Capacitado para exercer atividades de gestão, planejamento, operação e manutenção de computadores, comunicação de dados e desenvolvimento de softwares.</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!--
		<div id="fh5co-features" class="animate-box">
			<div class="container">
				<div class="services-padding">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
							<h2>My Services</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 text-center">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-paintbrush"></i>
								</span>
								<div class="feature-copy">
									<h3>Web Design</h3>
									<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
								</div>
							</div>
						</div>

						<div class="col-md-4 text-center">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-briefcase"></i>
								</span>
								<div class="feature-copy">
									<h3>Branding</h3>
									<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
								</div>
							</div>

						</div>
						<div class="col-md-4 text-center">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-search"></i>
								</span>
								<div class="feature-copy">
									<h3>Analytics</h3>
									<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-4 text-center">

							<div class="feature-left">
								<span class="icon">
									<i class="icon-bargraph"></i>
								</span>
								<div class="feature-copy">
									<h3>Web Developent</h3>
									<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
								</div>
							</div>

						</div>

						<div class="col-md-4 text-center">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-genius"></i>
								</span>
								<div class="feature-copy">
									<h3>Web Marketing</h3>
									<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
								</div>
							</div>

						</div>
						<div class="col-md-4 text-center">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-chat"></i>
								</span>
								<div class="feature-copy">
									<h3>Support</h3>
									<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		-->

		<div id="fh5co-skills" class="animate-box">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Skills</h2>
					</div>
				</div>
				<div class="row row-pb-md">
					<div class="col-md-3 col-sm-6 col-xs-12 text-center">
						<div class="chart" data-percent="50"><span><strong>HTML5</strong>45%</span></div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 text-center">
						<div class="chart" data-percent="40"><span><strong>CSS3</strong>45%</span></div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 text-center">
						<div class="chart" data-percent="25"><span><strong>jQuery</strong>10%</span></div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 text-center">
						<div class="chart" data-percent="60"><span><strong>Python</strong>60%</span></div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 text-center">
						<div class="chart" data-percent="35"><span><strong>MySQL</strong>35%</span></div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 text-center">
						<div class="chart" data-percent="10"><span><strong>AngularJS</strong>5%</span></div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 text-center">
						<div class="chart" data-percent="15"><span><strong>JavaScript</strong>15%</span></div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 text-center">
						<div class="chart" data-percent="20"><span><strong>PHP</strong>20%</span></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="progress-wrap">
							<h3><span class="name-left">HTML5/CSS3</span><span class="value-right">45%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
									aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:45%">
								</div>
							</div>
						</div>
						<div class="progress-wrap">
							<h3><span class="name-left">Montagem e Manutenção</span><span class="value-right">90%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
									aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
								</div>
							</div>
						</div>
						<div class="progress-wrap">
							<h3><span class="name-left">PHP</span><span class="value-right">20%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
									aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:20%">
								</div>
							</div>
						</div>
						<div class="progress-wrap">
							<h3><span class="name-left">Cabeamento Estruturado</span><span class="value-right">85%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
									aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="progress-wrap">
							<h3><span class="name-left">Design</span><span class="value-right">30%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
									aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:30%">
								</div>
							</div>
						</div>
						<div class="progress-wrap">
							<h3><span class="name-left">AngularJS</span><span class="value-right">5%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-striped active" role="progressbar"
									aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:5%">
								</div>
							</div>
						</div>
						<div class="progress-wrap">
							<h3><span class="name-left">Python</span><span class="value-right">60%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
									aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:60%">
								</div>
							</div>
						</div>
						<div class="progress-wrap">
							<h3><span class="name-left">jQuery</span><span class="value-right">10%</span></h3>
							<div class="progress">
								<div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
									aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:10%">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-consult">
			<div class="video fh5co-video" style="background-image: url(../static/images/Python_image.jpg);">
				<div class="overlay"></div>
			</div>
			<div class="choose animate-box">
				<h2>Contato</h2>
				
				<form action="enviar" method="post">
					<div class="row form-group">
						<div class="col-md-6">
							<input type="text" id="fname" name="fname" class="form-control" placeholder="Your firstname">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">
							<input type="text" id="lname" name="lname" class="form-control" placeholder="Your lastname">
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<input type="text" id="email" name="email" class="form-control" placeholder="Your email address">
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<input type="text" id="subject" name="subject" class="form-control"
								placeholder="Your subject of this message">
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<textarea name="message" id="message" name="message" cols="30" rows="10" class="form-control"
								placeholder="Say something about us"></textarea>
						</div>
					</div>
					<div class="form-group">
						<input type="submit" value="Send Message" class="btn btn-primary">
					</div>

				</form>
			</div>
		</div>


	</div>

	<div id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>&copy; 2017 Free HTML5 Template. All Rights Reserved. <br>Designed by <a
							href="http://freehtml5.co" target="_blank">FreeHTML5.co</a> Demo Images: <a
							href="http://unsplash.com" target="_blank">Unsplash</a></p>
				</div>
			</div>
		</div>
	</div>
	
	<a class="btn-whatsapp" href="https://wa.me/5527988942690" target="_blank">
		<i class="fa fa-whatsapp"></i>
  	</a>
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
	<!-- Stellar Parallax -->
	<script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
	<!-- Easy PieChart -->
	<script src="{{ url_for('static', filename='js/jquery.easypiechart.min.js') }}"></script>
	<!-- Google Map -->
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="{{ url_for('static', filename='js/google_map.js') }}"></script>

	<!-- Main -->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>